html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background-image: url('http://idahocampgroundreview.com/outletrfbeachview.JPG');
  background-repeat: no-repeat;
  background-color: hsl(173, 11%, 45%);
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.65);
  padding: 5px;
  border-radius: 50px;
}

.main-container h1 {
  font-family: 'Didot', serif;
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p {
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
  font-family: 'Didot', serif;
}
p:hover {
  font-weight: bold;
}